.photoContainer{
  padding: 5%;
}
.content{
  padding: 3% 5%;
}
.title {
  text-align: center
}
.photo{
  height: 90vh;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
